body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
}

#file-drop{
    box-shadow: 4px 4px 20px #6a95e47a inset;
    text-align: center;
    border-radius: 8px;

}

#file-drop p{
    padding: 2.5em 0;
    color: #6a95e47a;
    font-style: italic; 
    font-size: 1.5em;
}




#project-list{
    width: 99%;
    margin: 0 auto;
    font-size: 2em;
    padding: 0.33em;
    
    border: 2px solid black;
    border-radius: 20px;
    
    background-color: whitesmoke;
    
}

#project-list option{
    background-color: whitesmoke;
}


#project-banner{
    text-align: center;
}